header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
    background-color: transparent;
    color: black;
}

.logo{
    display: block;
    margin: 0 auto;
    padding-left: 42px;
    width: 0px;
}

img{
    width: 50px;
}


body {
    background-color: #F2EFE5;
    background-image: url("./assets/oilbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    gap: 1em;
    color: black;
}



li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

.fuelPage {
    margin: 1em;
    text-align: center;
}

.AboutUs {
    height: 600px;
    text-align: center;
}

.AboutUs .mini {
    position: absolute;
    margin: auto;
    text-align: left;
    font-size: small;
    top: 52%;
    left: 5%;
    width: 400px;
    color: white;
    
}

.AboutUs .slogan {
    position: absolute;
    margin: auto;
    top: 60%;
    left: 5%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.AboutUs .LearnMore {
    position: absolute;
    margin: auto;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    top: 75%;
    left: 5%;
    font-size: small;
}


